<form action="/rooms/addreview/{{room._id}}/" method="post">

        <label for="">User:</label>
        <input type="text" name="user" placeholder={{userName}} disabled>
        <label for="">Comments:</label>
        <textarea type="text" name="comments"></textarea>
        <button> Add Review </button>
</form>